/* body{
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(ellipse farthest-side at bottom left, #000000, #1e1e1e, #fff),
                    radial-gradient(ellipse farthest-side at bottom right, red, green, blue, yellow, #fff);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: left bottom, right bottom;
} */
 body{
    height: 100vh;
    margin: 0;
    background-image: url(/Frontend/Assets/WhatsApp\ Image\ 2024-09-20\ at\ 18.17.12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    color:#fff;
 }

 header{
   background-color: #808a9340;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   border-radius: 40px;
   display: flex;
   width: 80%;
   margin-top: 20px;
   margin-left: 10%;
   position: relative;
   padding-left: 20px;
 }

 #animate.animate{
    font-size: 30px;
    color: yellow;
    display: inline-block;
    animation: fadeInOut 3s ease-in-out infinite;
    opacity: 0;
 }

 @keyframes fadeInOut{
    0%{ opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}

 }

 footer{
    color: red;
 }