/* body{
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(ellipse farthest-side at bottom left, #000000, #1e1e1e, #fff),
                    radial-gradient(ellipse farthest-side at bottom right, red, green, blue, yellow, #fff);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: left bottom, right bottom;
} */
 body{
    height: 100vh;
    margin: 0;
    background-image: url(/Frontend/Assets/WhatsApp\ Image\ 2024-09-20\ at\ 18.17.12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    flex-direction: column;
    align-items: center;
 }

 header{
   background-color: #808a9340;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   border-radius: 40px;
   display: flex;
   width: 80%;
   margin-top: 20px;
   margin-left: 10%;
   position: relative;
   padding-left: 20px;
 }

 .content-box{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
   background-color: #808a9340;
   backdrop-filter: blur(0.5px);
   border: black solid 3px;
   border-bottom-right-radius: 100%;
   border-top-right-radius: 100%;
   margin: 10px;
   translate: 0px;
   animation: slideIn 2s; 
 }

 @keyframes slideIn{
   0% {translate: -5000px;}
   100% {translate: 0px;}
 }

 .content{
   font-size: larger;
   font-weight: bold;
   font-style: italic;
   color: #000;
   align-items: center;
   justify-content: center;
 }

 footer {
   margin-top: auto; /* Pushes the footer to the bottom */
   background-color: #808a9340;
   backdrop-filter: blur(2px);
   border-radius: 40px;
   width: 90%;
   margin-left: 5%;
   display: flex;
   padding-left: 20px;
}

 #animate.animate{
    font-size: 30px;
    color: yellow;
    display: inline-block;
    animation: fadeInOut 3s ease-in-out infinite;
    opacity: 0;
 }

 @keyframes fadeInOut{
    0%{ opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}

 }

 footer{
    color: red;
 }